@model testesenior.Domain.DTO.NovoTabelaApartamentoDTO

@{
    ViewData["Title"] = "Apartamentos";
}

<h2>Apartamento</h2>
<hr />
<form asp-controller="Apartamento" asp-action="Editar" method="post" class="w3-container">

    <h1 class="h4 mb-2 login">Apartamento @Model.codigoApartamento</h1>

    <!------------------------------------------------------------------------->
    <label for="codigoApartamento" class="sr-only">Nome Apartamento</label>
    <input type="text"
           asp-for="codigoApartamento"
           id="nomeCidade"
           value="@Model.codigoApartamento"
           class="form-control mb-2"
           required />

    <label for="andar" class="sr-only">Andar</label>
    <input type="text"
           asp-for="andar"
           id="nomeCidade"
           value="@Model.andar"
           class="form-control mb-2"
           required />

    <label for="metragem" class="sr-only">Metragem</label>
    <input type="text"
           asp-for="metragem"
           id="nomeCidade"
           value="@Model.metragem"
           class="form-control mb-2"
           required />

    <label for="numeroQuartos" class="sr-only">Número de Quartos</label>
    <input type="text"
           asp-for="numeroQuartos"
           id="nomeCidade"
           value="@Model.numeroQuartos"
           class="form-control mb-2"
           required />

    <label for="nomeCidade" class="sr-only">Nome da Cidade</label>
    <input type="text"
           asp-for="nomeCidade"
           id="nomeCidade"
           value="@Model.nomeCidade"
           class="form-control mb-2"
           required />

    <label for="estado" class="sr-only">Estado</label>
    <input type="text"
           asp-for="estado"
           id="nomeCidade"
           value="@Model.estado"
           class="form-control mb-2"
           required />

    <label for="nomeEdificio" class="sr-only">Nome do Edificio</label>
    <input type="text"
           asp-for="nomeEdificio"
           id="nomeCidade"
           value="@Model.nomeEdificio"
           class="form-control mb-2"
           required />



    <button class="btn btn-primary btn-block mb-3" (click)="Buscar(cidadeId)">
        Buscar
    </button>

    <button class="btn btn-primary btn-block mb-3" onclick="Novo()">
        Atualizar
    </button>

    <button class="btn btn-primary btn-block mb-3" onclick="Excluir(@Model.codigoApartamento)">
        Deletar
    </button>
    <button class="btn btn-primary btn-block mb-3" onclick="Criar()">
        Criar
    </button>

</form>
<script>
function Novo() {
    Request("Editar");
    }

    function Listagem() {
        Request("");
    }

    function Criar() {
        Request("Criar");
    }

    function Excluir(Codigo) {
        Request("Excluir/" + Codigo);
    }
    

    function Request(request) {
        window.location = window.origin + "/Apartamento/" + request;
    }</script>
